@font-face {
    src: url('../fonts/PingFang-SC-Regular.ttf');
}

/*@font-face {*/
/*    src: url("fonts/YaHei.ttf");*/
/*}*/

.root {
    -fx-font-family: 'PingFangSC-Regular', sans-serif;
    -fx-font-size: 13;
}

/*.button {*/
/*    -fx-font-family: 'Microsoft Yahei', serif;*/
/*    -fx-font-size: 14;*/
/*}*/


#disconnect {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.table-view {
    -fx-font-size: 12;
}

.table-column {
    -fx-padding: 0 0 0 0;
    -fx-label-padding: 0 0 0 0;
}
