@font-face {
    src: url('../fonts/PingFang-SC-Regular.ttf');
}

@font-face {
    src: url("../fonts/YaHei.ttf");
}

.root {
    -fx-font-family: 'PingFang SC', sans-serif;
    -fx-font-size: 14;
}

.button {
    -fx-font-size: 12;
}

/*.button {*/
/*    -fx-font-family: 'Microsoft Yahei', serif;*/
/*    -fx-font-size: 14;*/
/*}*/


#disconnect {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.table-view .column-header .label{
    -fx-alignment: center;
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 12;
}

.table-row-cell{
    -fx-font-size: 12;
    -fx-alignment: center;
}

.table-column {
    -fx-alignment: center;
}